html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f3f7f9;
  font-family: Helvetica, sans-serif;
}

.parent {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.history {
  flex: 1;
  overflow-y: auto;
}

.interface {
  padding: 10px;
  background-color: white;
  border-top: 2px solid black;
}

.interface h3 {
  margin: 0;
}

.interface input {
  width: 40%;
  padding: 10px 15px;
}

.interface button {
  border: 0;
  outline: none;
  color: white;
  font-size: 1em;
  cursor: pointer;
  user-select: none;
  padding: 10px 14px;
  background-color: green;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.message-item {
  margin: 10px 10px;
  padding: 12px 6px;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: white;
}

.message-item h3, .message-item p {
  margin: 0;
}